<!-- Modal -->
<div
  class="modal fade"
  id="EducacionModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Educación </h5>        
      </div>
      <div class="modal-body">
        <form>          
          <div class="input-group">
            <span class="input-group-text">Establecimiento:</span>
            <input type="text" class="form-control" id="establecimientoeducacion" [(ngModel)]="miEducacion.establecimiento" value="{{miEducacion.establecimiento}}">            
          </div>
          <div id="nombreHelp" class="form-text">
          </div>
          <div class="input-group">
            <span class="input-group-text">Título:</span>
            <input type="text" class="form-control" id="carreraeducacion" [(ngModel)]="miEducacion.carrera" value="{{miEducacion.carrera}}">
          </div>
          <div id="nombreHelp" class="form-text">            
          </div>
          <div class="input-group">
            <span class="input-group-text">Período desde:</span>
            <input type="text" class="form-control" id="periodo_desdeeducacion" [(ngModel)]="miEducacion.periodo_desde" value="{{miEducacion.periodo_desde}}" placeholder="99/9999">
            <span class="input-group-text">Período hasta:</span>
            <input type="text" class="form-control" id="periodo_hastaeducacion" [(ngModel)]="miEducacion.periodo_hasta" value="{{miEducacion.periodo_hasta}}" placeholder="99/9999">          
          </div>
          <div id="nombreHelp" class="form-text">          
          </div>        
          
          <div class="input-group">
            <span class="input-group-text">Descripción:</span>
            <input type="email" class="form-control" id="descripcioneducacion" [(ngModel)]="miEducacion.descripcion" value="{{miEducacion.descripcion}}">
          </div>
          <div id="nombreHelp" class="form-text">            
          </div>     
          <div class="input-group">
            <span class="input-group-text">WEB:</span>
            <input type="text" class="form-control" id="posicion" [(ngModel)]="miEducacion.web" value="{{miEducacion.web}}">
          </div>            
          <div class="mb-3">
            <label for="formFile" class="form-label">Logo del Establecimiento</label>
            <input class="form-control" type="file" id="logoeducacion">
          </div>  
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
