<!-- ACERCA DE -->
<div class="container-fluid text-center" id="AcercaDe">
  <div class="row">
    <div class="col-lg-2 align-self-center align-items-center">
      <img [src]="miPortfolio.imagen" alt="Avatar" class="avatar" />
      <h4>{{miPortfolio.nombre}} <i class="fa-solid fa-pen px-3 fa-xs"></i></h4>
      <h5>{{miPortfolio.posicion}} <i class="fa-solid fa-pen px-3 fa-xs"></i></h5>
      <ul class="list-group list-group-horizontal justify-content-center">
        <li class="list-group-item border-0">
          <a href="https://wa.me/{{miPortfolio.telefono}}" target=”_blank”>
            <span tooltip="<p>Teléfono: </br> {{miPortfolio.telefono}}</p>" placement="top" >  
              <i class="fa-brands fa-whatsapp fa-2xl"></i>
            </span>
          </a>          
        </li>
                
        <li class="list-group-item border-0">          
          <a href="mailto:{{miPortfolio.email}}">
            <span tooltip="<p>Correo electónico: {{miPortfolio.email}}</p>" placement="right" >  
              <i class="fa-solid fa-envelope fa-2xl"></i>
            </span>    
          </a>
        </li>

      </ul>
    </div>
    <div class="col-lg-10 align-self-center align-items-center">
      <div class="row">
        <div class="col-lg-12 align-self-center align-items-center">
          <h3>Acerca de <i class="fa-solid fa-pen px-3 fa-xs"></i> </h3>
        </div>
      </div>
      <div class="container-fluid" id="Acercade-Descripción" style="background-color:#B8E5FF;  ">
        <p>
          {{miPortfolio.acercade}}
        </p>
      </div>
    </div>
  </div>
</div>