<!-- Modal -->
<div
  class="modal fade"
  id="AcercaDeModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Acerca De</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="input-group">
            <span class="input-group-text">Acerca de mi:</span>
            <textarea class="form-control" 
            aria-label="With textarea"
            id="acercade"
            [(ngModel)]="persona.acercade"
            aria-describedby="acercaHelp"
            rows="10">
            {{persona.acercade}}</textarea>            
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
