<!-- Modal -->
<div class="modal fade" id="ProjectoModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Projecto Web </h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="input-group">
            <span class="input-group-text">Nombre:</span>
            <input type="text" class="form-control" id="proyecto"
              [(ngModel)]="miProyecto.proyecto"
              [ngModelOptions]="{standalone:true}"
              value="{{miProyecto.proyecto}}">
          </div>
          <div id="nombreHelp" class="form-text">
          </div>
          <div class="input-group">
            <span class="input-group-text">Fecha:</span>
            <input type="text" class="form-control" id="periodo_desde"
              [(ngModel)]="miProyecto.periodo_desde"
              [ngModelOptions]="{standalone:true}"
              value="{{miProyecto.periodo_desde}}"
              placeholder="99/9999">
          </div>
          <div id="nombreHelp" class="form-text">
          </div>
          <div class="input-group">
            <span class="input-group-text">Descripción:</span>
            <input type="email" class="form-control" id="descripcion"
              [(ngModel)]="miProyecto.descripcion"
              [ngModelOptions]="{standalone:true}"
              value="{{miProyecto.descripcion}}">
          </div>
          <div id="nombreHelp" class="form-text">
          </div>
          <div class="input-group">
            <span class="input-group-text">WEB:</span>
            <input type="text" class="form-control" id="posicion"
              [(ngModel)]="miProyecto.web" value="{{miProyecto.web}}">
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <div [ngSwitch]="miAccionType">
          <div *ngSwitchCase="'new'">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
          <div *ngSwitchCase="'update'">
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>
          <div *ngSwitchCase="'delete'">
            <button type="submit" class="btn btn-danger"
              (click)="delete(miProyecto.id)" data-bs-dismiss="modal">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>