.footer {    
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
    width: 100%;
    /*font-family:'GothamRounded', sans-serif;*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200px;
    /*font-size: 20px;*/
    font-size: 0.5rem;
    line-height: 100%;
    text-align: center;
    color:white;
    background-color:teal !important;    
  }