<!-- EDUCACIÓN -->  
    <div class="row">
      <div class="col-lg-12 align-self-center align-items-center">
        <h3 class="titulo">Educación</h3>
      </div>
    </div>
    <div class="row row-experiencia">
      <div class="col-lg-2 align-self-center align-items-center">
        <img src="./assets/estudio/logo-argentinaprograma.svg" alt="Avatar" class="img-fluid img-thumbnail" />
      </div>
      <div class="col-lg-10 align-self-center align-items-center">
        <div class="card">
          <div class="card-header">
            <h4>Argentina Programa</h4>
          </div>
          <div class="card-body" style="text-align: justify; " >                
            <p>                
              Carrera/Título: 
              <strong> Curso realizado </strong>
            </p>                
            <p>                
              Período desde: 
              <strong> 99/9999 </strong>
              hasta:
              <strong> 99/9999 </strong>
            </p>                
            <p>                
              Descripción: 
              <strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam unde minima velit non culpa voluptatum veniam natus magnam animi autem cumque facere impedit suscipit, ducimus eaque dolor ullam assumenda, id, ipsum odit provident. Iste fugiat delectus eveniet quam et voluptate ut atque incidunt harum similique reprehenderit fugit repellendus, dolores suscipit. </strong>
            </p>                
          </div>
          <div class="card-footer">
            <a href="#" class="card-link">www.argentinaprograma.inti.gob.ar</a>
          </div>
        </div> 
      </div>
    </div>
    <div class="row row-experiencia">
      <div class="col-lg-2 align-self-center align-items-center">
        <img src="./assets/estudio/logo-imt.svg" alt="Avatar" class="img-fluid img-thumbnail" />
      </div>
      <div class="col-lg-10 align-self-center align-items-center">
        <div class="card">
          <div class="card-header">
            <h4>Instituto Municipal de Tecnología</h4>
          </div>
          <div class="card-body" style="text-align: justify; " >                
            <p>                
              Carrera/Título: 
              <strong> Curso realizado </strong>
            </p>                
            <p>                
              Período desde: 
              <strong> 99/9999 </strong>
              hasta:
              <strong> 99/9999 </strong>
            </p>                
            <p>                
              Descripción: 
              <strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam unde minima velit non culpa voluptatum veniam natus magnam animi autem cumque facere impedit suscipit, ducimus eaque dolor ullam assumenda, id, ipsum odit provident. Iste fugiat delectus eveniet quam et voluptate ut atque incidunt harum similique reprehenderit fugit repellendus, dolores suscipit. </strong>
            </p>                
          </div>
          <div class="card-footer">
            <a href="#" class="card-link">www.imt.lacosta.gob.ar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-experiencia">
      <div class="col-lg-2 align-self-center align-items-center">
        <img src="./assets/estudio/logo-oracle.svg" alt="Avatar" class="img-fluid img-thumbnail" />
      </div>
      <div class="col-lg-10 align-self-center align-items-center">
        <div class="card">
          <div class="card-header">
            <h4>Oracle Alura</h4>
          </div>
          <div class="card-body" style="text-align: justify; " >                
            <p>                
              Carrera/Título: 
              <strong> Curso realizado </strong>
            </p>                
            <p>                
              Período desde: 
              <strong> 99/9999 </strong>
              hasta:
              <strong> 99/9999 </strong>
            </p>                
            <p>                
              Descripción: 
              <strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam unde minima velit non culpa voluptatum veniam natus magnam animi autem cumque facere impedit suscipit, ducimus eaque dolor ullam assumenda, id, ipsum odit provident. Iste fugiat delectus eveniet quam et voluptate ut atque incidunt harum similique reprehenderit fugit repellendus, dolores suscipit. </strong>
            </p>                
          </div>
          <div class="card-footer">
            <a href="#" class="card-link">www.aluracursos.com</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-experiencia">
      <div class="col-lg-2 align-self-center align-items-center">
        <img src="./assets/estudio/logo-uaa.svg" alt="Avatar" class="img-fluid img-thumbnail" />
      </div>
      <div class="col-lg-10 align-self-center align-items-center">
      
        <div class="card">
          <div class="card-header">
            <h4>Universidad Atlantida Argentina</h4>
          </div>
          <div class="card-body" style="text-align: justify; " >                
            <p>                
              Carrera/Título: 
              <strong> Curso realizado </strong>
            </p>                
            <p>                
              Período desde: 
              <strong> 99/9999 </strong>
              hasta:
              <strong> 99/9999 </strong>
            </p>                
            <p>                
              Descripción: 
              <strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam unde minima velit non culpa voluptatum veniam natus magnam animi autem cumque facere impedit suscipit, ducimus eaque dolor ullam assumenda, id, ipsum odit provident. Iste fugiat delectus eveniet quam et voluptate ut atque incidunt harum similique reprehenderit fugit repellendus, dolores suscipit. </strong>
            </p>                
        </div>
          <div class="card-footer">
            <a href="#" class="card-link">www.atlantida.edu.ar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-experiencia">
      <div class="col-lg-2 align-self-center align-items-center">
        <img src="./assets/estudio/logo-ira.svg" alt="Avatar" class="img-fluid img-thumbnail" />
      </div>
      <div class="col-lg-10 align-self-center align-items-center">
        <div class="card">
          <div class="card-header">
            <h4>Instituto Republica Argentina</h4>
          </div>
          <div class="card-body" style="text-align: justify; " >                
            <p>                
              Carrera/Título: 
              <strong> Curso realizado </strong>
            </p>                
            <p>                
              Período desde: 
              <strong> 99/9999 </strong>
              hasta:
              <strong> 99/9999 </strong>
            </p>                
            <p>                
              Descripción: 
              <strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam unde minima velit non culpa voluptatum veniam natus magnam animi autem cumque facere impedit suscipit, ducimus eaque dolor ullam assumenda, id, ipsum odit provident. Iste fugiat delectus eveniet quam et voluptate ut atque incidunt harum similique reprehenderit fugit repellendus, dolores suscipit. </strong>
            </p>                
          </div>
          <div class="card-footer">
            <a href="#" class="card-link">www.irabernal.edu.ar</a>
          </div>
        </div>
      </div>
    </div>    
