<!-- Modal -->
<div class="modal fade" id="HabilidadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Habilidad </h5>
      </div>

      <div [ngSwitch]="miAccionType">
        <div class="modal-body" *ngSwitchCase="'new'">
          <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="input-group">
              <span class="input-group-text">Habilidad:</span>
              <input type="text" class="form-control" id="habilidad" [(ngModel)]="miHabilidad.habilidad"
                [ngModelOptions]="{standalone:true}" value="{{miHabilidad.habilidad}}">
            </div>
            <div id="nombreHelp" class="form-text">
            </div>
            <div class="input-group">
              <span class="input-group-text">Porcentaje:</span>
              <input type="text" class="form-control" id="porcentaje" [(ngModel)]="miHabilidad.porcentaje"
                [ngModelOptions]="{standalone:true}" value="{{miHabilidad.porcentaje}}" placeholder="99">
              <span class="input-group-text">%</span>
            </div>
            <div id="nombreHelp" class="form-text">
            </div>
            <div class="input-group">
              <span class="input-group-text">Color:</span>
              <input type="color" class="form-control" id="color" [(ngModel)]="miHabilidad.color"
                [ngModelOptions]="{standalone:true}" value="{{miHabilidad.color}}">
            </div>
            <div id="nombreHelp" class="form-text">
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Cerrar
              </button>
              <button type="submit" class="btn btn-primary">
                Grabar
              </button>
            </div>
          </form>
        </div>
        <div class="modal-body" *ngSwitchCase="'update'">
          <form (ngSubmit)="onUpdate(miHabilidad.id)" novalidate #f="ngForm">
            <div class="input-group">
              <span class="input-group-text">Habilidad:</span>
              <input type="text" class="form-control" id="habilidad" [(ngModel)]="miHabilidad.habilidad"
                [ngModelOptions]="{standalone:true}" value="{{miHabilidad.habilidad}}">
            </div>
            <div id="nombreHelp" class="form-text">
            </div>
            <div class="input-group">
              <span class="input-group-text">Porcentaje:</span>
              <input type="text" class="form-control" id="porcentaje" [(ngModel)]="miHabilidad.porcentaje"
                [ngModelOptions]="{standalone:true}" value="{{miHabilidad.porcentaje}}" placeholder="99">
              <span class="input-group-text">%</span>
            </div>
            <div id="nombreHelp" class="form-text">
            </div>
            <div class="input-group">
              <span class="input-group-text">Color:</span>
              <input type="color" class="form-control" id="color" [(ngModel)]="miHabilidad.color"
                [ngModelOptions]="{standalone:true}" value="{{miHabilidad.color}}">
            </div>
            <div id="nombreHelp" class="form-text">
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Cerrar
              </button>
              <button type="submit" class="btn btn-primary">
                Actualizar
              </button>
            </div>
          </form>
        </div>
        <div class="modal-body" *ngSwitchCase="'delete'">
          <form (ngSubmit)="delete(miHabilidad.id)" novalidate #f="ngForm">
            <div class="input-group">
              <span class="input-group-text">Habilidad:</span>
              <input type="text" class="form-control" id="habilidad" [(ngModel)]="miHabilidad.habilidad"
                [ngModelOptions]="{standalone:true}" value="{{miHabilidad.habilidad}}">
            </div>
            <div id="nombreHelp" class="form-text">
            </div>
            <div class="input-group">
              <span class="input-group-text">Porcentaje:</span>
              <input type="text" class="form-control" id="porcentaje" [(ngModel)]="miHabilidad.porcentaje"
                [ngModelOptions]="{standalone:true}" value="{{miHabilidad.porcentaje}}" placeholder="99">
              <span class="input-group-text">%</span>
            </div>
            <div id="nombreHelp" class="form-text">
            </div>
            <div class="input-group">
              <span class="input-group-text">Color:</span>
              <input type="color" class="form-control" id="color" [(ngModel)]="miHabilidad.color"
                [ngModelOptions]="{standalone:true}" value="{{miHabilidad.color}}">
            </div>
            <div id="nombreHelp" class="form-text">
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Cerrar
              </button>
              <button type="submit" class="btn btn-danger">
                Eliminar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>