<!-- Modal -->
<div
  class="modal fade"
  id="HabilidadModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Habilidad </h5>        
      </div>
      <div class="modal-body">
        <form>          
          <div class="input-group">
            <span class="input-group-text">Habilidad:</span>
            <input type="text" class="form-control" id="nombre" value="{{miHabilidad.habilidad}}">            
          </div>
          <div id="nombreHelp" class="form-text">
          </div>
          <div class="input-group">
            <span class="input-group-text">Porcentaje:</span>
            <input type="text" class="form-control" id="posicion" value="{{miHabilidad.porcentaje}}" placeholder="99">
            <span class="input-group-text">%</span>
          </div>
          <div id="nombreHelp" class="form-text">            
          </div>
          <div class="input-group">
            <span class="input-group-text">Color:</span>
            <input type="color" class="form-control" id="telefon" value="{{miHabilidad.color}}" value="#563d7c">                        
          </div>
          <div id="nombreHelp" class="form-text">          
          </div>        
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


