<!-- Modal -->
<div class="modal fade " tabindex="-1" id="loginModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <img src="./assets/img_avatar.jpg" alt="Avatar" class="avatarito" />
      </div>
      <div class="modal-body">
        <!--<form [formGroup]="form" (ngSubmit)="onLogin($event)">-->
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
          <div class="mb-3">
            <label for="nombreUsuario" class="form-label">Correo
              Electrónico</label>
            <input type="email" class="form-control" id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nombreUsuario" required 
            aria-describedby="emailHelp" placeholder="name@example.com" />
          </div>
          
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password"  [(ngModel)]="password" required 
             />
          </div>
          
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Salir
            </button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
              Iniciar Sesión
            </button>
          </div>
        </form>
        <!--
        <div>
          <p>
            debbuger {{form.value.email}} - {{form.value.password}}
          </p>
        </div>
      -->
      </div>
    </div>
  </div>
</div>