<nav class="navbar navbar-expand-lg bg-primary fixed-top ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/index">
      <img src="./assets/logo.png" alt="" width="70%" />
    </a>
    <ul class="list-group list-group-horizontal">

      <li class="list-group-item border-0">
        <a href="{{miPortfolio.linkedin}}" target="_blank">
          <i class="fa-brands fa-linkedin fa-2xl"></i>
        </a>
      </li>
      <li class="list-group-item border-0">
        <a href="{{miPortfolio.github}}" target="_blank">
          <i class="fa-brands fa-github fa-2xl"></i>
        </a>
      </li>
      <li class="list-group-item border-0">
        <a href="{{miPortfolio.facebook}}" target="_blank">
          <i class="fa-brands fa-facebook fa-2xl"></i>
        </a>
      </li>
      <li class="list-group-item border-0">
        <a href="{{miPortfolio.instagram}}" target="_blank">
          <i class="fa-brands fa-instagram fa-2xl"></i>
        </a>
      </li>
      <li class="list-group-item border-0">
        <a href="{{miPortfolio.twitter}}" target="_blank">
          <i class="fa-brands fa-twitter fa-2xl"></i>
        </a>
      </li>
      <li class="list-group-item border-0">
        <!-- Button trigger modal -->
        <i type="button" data-bs-toggle="modal" data-bs-target="#loginModal"
          class="fa-solid fa-user-lock fa-2xl">
        </i>
      </li>
    </ul>
     </div>
</nav>

<app-login></app-login>
