<nav class="navbar navbar-expand-lg bg-primary ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./assets/logo.png" alt="" width="70%" />
      </a>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item border-0">          
          <a href="{{miPortfolio.linkedin}}" target="_blank">
            <i class="fa-brands fa-linkedin fa-2xl"></i>
          </a>          
        </li>
        <li class="list-group-item border-0">
          <a href="{{miPortfolio.github}}" target="_blank">
            <i class="fa-brands fa-github fa-2xl"></i>
          </a>   
        </li>
        <li class="list-group-item border-0">
          <a href="{{miPortfolio.facebook}}" target="_blank">
            <i class="fa-brands fa-facebook fa-2xl"></i>
          </a>            
        </li>
        <li class="list-group-item border-0">
          <a href="{{miPortfolio.instagram}}" target="_blank">
            <i class="fa-brands fa-instagram fa-2xl"></i>
          </a> 
        </li>
        <li class="list-group-item border-0">
          <a href="{{miPortfolio.twitter}}" target="_blank">
            <i class="fa-brands fa-twitter fa-2xl"></i>
          </a>           
        </li>
        <li class="list-group-item border-0">
          <!-- Button trigger modal -->
          <i type="button" data-bs-toggle="modal" data-bs-target="#loginModal" class="fa-solid fa-user-lock fa-2xl">
          </i>
        </li>
      </ul>
      <!-- Modal -->
      <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Login</h5>
              <img src="./assets/img_avatar.jpg" alt="Avatar" class="avatarito" />
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="name@example.com" />
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">
                Iniciar Sesión
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
