<div class="row">
  <div class="col-lg-12 align-self-center align-items-center">
    <h3 class="titulo">Habilidades</h3>
  </div>
</div>
<div class="row align-self-center align-items-center row-experiencia">
  <div *ngFor="let habilidad of habilidadList" class="col">
    <figure class="figure">
      <input type="text" value="{{habilidad.porcentaje}}" class="dial" data-width="25" data-thickness=".32"
        data-fgColor="#ff00ff" data-bgColor="{habilidad.color}"  data-cursor=false data-displayInput="true" data-readOnly=true
        width="50" height="50">
      <figcaption class="figure-caption">{{habilidad.habilidad}}</figcaption>
    </figure>
  </div>
</div>