<!-- Modal -->
<div
  class="modal fade"
  id="ExperienciaModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Experiencia Laboral </h5>        
      </div>
      <div class="modal-body">
        <form>          
          <div class="input-group">
            <span class="input-group-text">Empresa:</span>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="miExperiencia.empresa" value="{{miExperiencia.empresa}}">            
          </div>
          <div id="nombreHelp" class="form-text">
          </div>
          <div class="input-group">
            <span class="input-group-text">Puesto:</span>
            <input type="text" class="form-control" id="posicion" [(ngModel)]="miExperiencia.posicion" value="{{miExperiencia.puesto}}">
          </div>
          <div id="nombreHelp" class="form-text">            
          </div>
          <div class="input-group">
            <span class="input-group-text">Período desde:</span>
            <input type="text" class="form-control" id="telefono" [(ngModel)]="miExperiencia.telefono" value="{{miExperiencia.periodo_desde}}" placeholder="99/9999">
            <span class="input-group-text">Período hasta:</span>
            <input type="text" class="form-control" id="periodo_desde" [(ngModel)]="miExperiencia.periodo_desde" value="{{miExperiencia.periodo_hasta}}" placeholder="99/9999">          
          </div>
          <div id="nombreHelp" class="form-text">          
          </div>        
          <div class="input-group">
            <span class="input-group-text">Descripción:</span>
            <input type="email" class="form-control" id="email" [(ngModel)]="miExperiencia.email" value="{{miExperiencia.descripcion}}">
          </div>
          <div id="nombreHelp" class="form-text">            
          </div>   
          <div class="input-group">
            <span class="input-group-text">WEB:</span>
            <input type="text" class="form-control" id="posicion" [(ngModel)]="miExperiencia.web" value="{{miExperiencia.web}}">
          </div>       
          <div class="mb-3">
            <label for="formFile" class="form-label">Logo de la Empresa</label>
            <input class="form-control" type="file" id="formFile">
          </div>  
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>